
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #646769; 
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    font-size: 1.8em;
}

p {
    text-align: justify; 
}


.social-media img{
    width: 40px;
}

/* --- FOOTER --- */
.footer {
    background-color: #ccc4c4;
    padding: 70px 0;
    margin-top: 50px;
}

.conteiner {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 25%;
    padding: 0 29px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #000;
    height: 2px;
    width: 40px;
}

.footer-col ul li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: black;
}

.social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333;
    transition: 0.3s;
}

.social-media a:hover {
    background: black;
    color: white;
}

.social{
    display: inline-block;
    height: 50px;
    width: 50px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333;
    transition: 0.3s;
}

.social:hover{
    background: black;
    color: white;
}

.social img{
    margin-top: 10px;
    width: 30px;
}