
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #646769; 
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    font-size: 1.8em;
}

p {
    text-align: justify; 
}


.social-media img{
    width: 40px;
}
